* {
	margin: 0px 0px;
	padding: 0px 0px;
	font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
	content: " ";
	height: 0px;
	visibility: hidden;
	clear: both;
	display: block;
}

footer {
	clear: both;
	padding: 20px;
	background: #ccc;
	color: black;
}