<web-app>


	<servlet>
		<servlet-name>SendRedirectTest</servlet-name>
		<servlet-class>SendRedirectTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendRedirectTest</servlet-name>
		<url-pattern>/see</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>err</servlet-name>
		<servlet-class>err</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>err</servlet-name>
		<url-pattern>/err</url-pattern>
	</servlet-mapping>
	

	<servlet>	
		<servlet-name>wel</servlet-name>
		<servlet-class>wel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>wel</servlet-name>
		<url-pattern>/wel</url-pattern>
	</servlet-mapping>


</web-app>