<web-app>
	<servlet>
		<servlet-name>MyServlet1</servlet-name>
		<servlet-class>MyServlet1</servlet-class>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>MyServlet1</servlet-name>
		<url-pattern>/OnetoMyFilter</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>MyServlet2</servlet-name>
		<servlet-class>MyServlet2</servlet-class>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>MyServlet2</servlet-name>
		<url-pattern>/OnetoMyFilter2</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MyServlet3</servlet-name>
		<servlet-class>MyServlet3</servlet-class>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>MyServlet3</servlet-name>
		<url-pattern>/OnetoMyFilter3</url-pattern>
	</servlet-mapping>

		<filter>
			<filter-name>Filter1</filter-name>
			<filter-class>Filter1</filter-class>
		</filter>
		
	<filter-mapping>
		<filter-name>Filter1</filter-name>
		<url-pattern>/OnetoMyFilter</url-pattern>
	</filter-mapping>
		
	<filter>
			<filter-name>abc</filter-name>
			<filter-class>Filter1</filter-class>
		</filter>
		
	<filter-mapping>
		<filter-name>abc</filter-name>
		<url-pattern>/OnetoMyFilter2</url-pattern>
	</filter-mapping>

	<filter>
			<filter-name>xyz</filter-name>
			<filter-class>Filter1</filter-class>
		</filter>
		
	<filter-mapping>
		<filter-name>xyz</filter-name>
		<url-pattern>/OnetoMyFilter3</url-pattern>
	</filter-mapping>

	
	
</web-app>